ssh/*
!ssh/config

vim/bundle/
vim/info/*

!vim/info/undo/
vim/info/undo/*
!vim/info/undo/.gitkeep

!vim/info/netrw/
vim/info/netrw/*
!vim/info/netrw/.gitkeep

!vim/info/fuf-data/
vim/info/fuf-data/*
!vim/info/fuf-data/.gitkeep
