ssh/*
!ssh/config


vim/bundle/
vim/info/*

!vim/info/undo/
vim/info/undo/*
!vim/info/undo/.gitkeep

!vim/info/netrw/
vim/info/netrw/*
!vim/info/netrw/.gitkeep


irssi/scripts/*

!irssi/scripts/autorun/
irssi/scripts/autorun/*
!irssi/scripts/autorun/.gitkeep
